* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.timeline {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.timeline .swiper {
  height: 500px;
  margin: 0 40px;
}

.timeline .long-line {
  height: 250px;
  border-bottom: 2px solid #007aff;
  width: 100%;
  position: absolute;
  top: 0px;
}

.timeline .swiper-slide .detail {
  height: 300px;
  line-height: 20px;
  top: 27px;
  color: #444;
  opacity: 0;
}

.timeline .swiper-slide .date {
  color: #007aff;
  font-weight: 700;
  position: absolute;
  bottom: 4px;
  opacity: 0;
}

.timeline .swiper-slide span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  transition: 700ms;
}

.timeline .swiper-slide-active span {
  transition: 700ms 700ms;
}

.timeline .swiper-pagination-bullet {
  background: #007aff;
  border: 6px solid #007aff;
  opacity: 1;
  line-height: 10px;
  position: relative;
}

.timeline .swiper-pagination-bullet .content {
  position: absolute;
  left: -134px;
  bottom: 35px;
  max-width: 500px;
  min-width: 240px;
}

.timeline .swiper-pagination-bullet .content .content-bd {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  white-space: normal;
}

.timeline .swiper-pagination-bullet .content .content-bd .content-bd-des {
  width: 240px;
  color: #000;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 18px;
  text-align: justify;
  min-height: 144px;
}

.timeline .swiper-pagination-bullet .content .content-bd .content-bd-img {
  height: 130px;
}

.timeline .swiper-pagination-bullet .content .content-bd .content-bd-img img {
  height: 100%;
  display: block;
}

.timeline .swiper-pagination-bullet .content .content-hd {
  width: 100%;
  height: 38px;
  background-color: #e2e2e2;
  position: relative;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  color: #a8a8a8;
}

.timeline .swiper-pagination-bullet .content .content-hd .triangle {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.timeline .swiper-pagination-bullet .content .content-hd .up {
  border-bottom: 15px solid #e2e2e2;
  top: -15px;
}

.timeline .swiper-pagination-bullet .content .content-hd .down {
  border-top: 15px solid #e2e2e2;
  bottom: -15px;
}

.timeline .swiper-pagination-bullet .has-img {
  left: -235px;
  width: 460px;
}

.timeline .swiper-pagination-bullet .has-img .content-bd .content-bd-des {
  margin-right: 10px;
}

.timeline .swiper-pagination-bullet:nth-child(2n) .content {
  left: -134px;
  top: 35px;
}

.timeline .swiper-pagination-bullet:nth-child(2n) .has-img {
  left: -235px;
  width: 460px;
}

.timeline .swiper-pagination-bullet:nth-child(2n) .has-img .content-bd .content-bd-des {
  margin-right: 10px;
}

.timeline .swiper-pagination-bullets {
  white-space: nowrap;
  width: auto;
  bottom: 247px;
  height: 10px;
  line-height: 10px;
  transition: 700ms;
}

.timeline .swiper-container-horizontal
> .swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0;
}

.timeline .swiper-pagination-bullet-active {
  background: #007aff;
}

.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px auto;
}
