html {
  font-size: 12px;
  font-family: microsoft yahei;
  min-width: 1200px;
}
body {
  min-width: 1200px;
}
h1,
h2,
h3 {
  font-family: "microsoft yahei";
}

a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
